{% include 'base.html' %}
{% include 'navigation.html' %} 
{% block content %}

{% ifequal error "no" %}
<script>
    alert("Logged in successfully");
    window.location = "{% url 'dashboard' %}";
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Invalid login, try again");
</script>
{% endifequal %}

<div class="container">
    <h2 class="text-center">Admin Login</h2>
    <form method="POST">{% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Admin name</label>
            <input type="text" class="form-control" name="uname">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="pwd">
        </div>
        <input type="submit" class="form-control btn btn-info" value="Login">
    </form>
</div>
{% endblock content %}

{% include 'footer.html' %}