{% include 'base.html' %}
{% include 'navigation.html' %}
{% load static %}

{% block content %}

<div class="container">
    <h2 class="text-center m-3">Available Doctors</h2>
    <table id="example" class="table table-info table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">patient_id</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Mobile</th>
            <th scope="col">Address</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for i in doc %}
          <tr>
            <th scope="row">{{i.id}}</th>
            <td>{{i.name}}</td>
            <td>{{i.gender}}</td>
            <td>{{i.mobile}}</td>
            <td>{{i.address}}</td>
            <td><a href="{% url 'delete_patient' i.id %}" onclick="return confirm('Are you sure you want to delete {{i.name}} ?')" class="btn btn-danger">Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

{% endblock content %}

{% include 'footer.html' %}